/* Main site / Videos */
#container.ytd-masthead,
#tabsContainer.paper-tabs,
#channel-header.ytd-c4-tabbed-header-renderer {
    background: #263238;
}

/* NavBar */
ytd-guide-renderer,
app-drawer.ytd-app:not([persistent]) #header.ytd-app,
#guide-inner-content.ytd-app,
#guide-section-title.ytd-guide-section-renderer,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer {
    background: #263238;
}

/* Channel Pages */
ytd-watch,
ytd-page-manager,
ytd-browse[page-subtype="channels"],
#tabsContainer.paper-tabs {
    background: #222d32;
}
#tabsContainer.paper-tabs,
#channel-header.ytd-c4-tabbed-header-renderer {
    background: #263238;
}

/* Menus */
a.yt-simple-endpoint.ytd-active-account-header-renderer,
#sections.ytd-multi-page-menu-renderer > *.ytd-multi-page-menu-renderer {
    background: #263238;
}

/* Playlist Page */
ytd-playlist-sidebar-renderer,
div.ytd-item-section-renderer,
div.ytd-section-list-renderer {
    background: #222d32;
}

/* Weird Block on Channel Pages */
#tabsContainer.paper-tabs,
#channel-header.ytd-c4-tabbed-header-renderer {
    background-color: #263238;
}
#tabs-inner-container.ytd-c4-tabbed-header-renderer,
.not-visible.paper-tabs,
ytd-c4-tabbed-header-renderer[guide-visible] paper-tabs.ytd-c4-tabbed-header-renderer {
    background-color: #263238;
}
