/* Main site / Videos */
#container.ytd-masthead,
#tabsContainer.paper-tabs,
#channel-header.ytd-c4-tabbed-header-renderer {
    background: #002b36;
}

#columns.ytd-watch-flexy, .ytd-page-manager{
    background: #002b36;
}

/* NavBar */
ytd-guide-renderer,
app-drawer.ytd-app:not([persistent]) #header.ytd-app,
#guide-inner-content.ytd-app,
#guide-section-title.ytd-guide-section-renderer,
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer, .ytd-mini-guide-renderer, .ytd-app {
    background: #002b36;
}

/* Channel Pages */
ytd-watch,
ytd-page-manager,
ytd-browse[page-subtype="channels"],
#tabsContainer.paper-tabs {
    background: #073642;
}
#tabsContainer.paper-tabs,
#channel-header.ytd-c4-tabbed-header-renderer {
    background: #002b36;
}

/* Menus */
a.yt-simple-endpoint.ytd-active-account-header-renderer,
#sections.ytd-multi-page-menu-renderer > *.ytd-multi-page-menu-renderer {
    background: #002b36;

}

/* Weird Block on Channel Pages */
#tabsContainer.paper-tabs,
#channel-header.ytd-c4-tabbed-header-renderer {
    background-color: #002b36;
}
#tabs-inner-container.ytd-c4-tabbed-header-renderer, .not-visible.paper-tabs, ytd-c4-tabbed-header-renderer[guide-visible] paper-tabs.ytd-c4-tabbed-header-renderer {
    background-color: #002b36;
}
